/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: ":)";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

.clearboth {
  clear: both; }

body {
  font-size: 14px; }

p {
  color: gray;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  color: #b52725; }

.topBand a, #navBand a {
  color: #FFFFFF; }

.spacer {
  height: 20px; }

h6 a {
  font-weight: 500;
  color: #B52725; }

header.mainHeader {
  background-color: #b52725;
  width: 100%;
  padding: 10px 0; }

#contactInfo {
  text-align: right;
  padding: 10px 0;
  color: #ffffff; }

.navBand {
  background-color: #111111;
  width: 100%; }

.top-bar ul li:first-child a {
  border-left: none; }

/*
#slider {
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		min-width: 1920px;
		min-height: 400px;
	}
}
*/
#mainBand {
  position: relative;
  background-color: white;
  width: 100%; }

#ourDifference {
  background-image: url("../img/left-cross-5px.png");
  text-align: justify;
  padding: 30px 0 25px 0;
  margin-bottom: 20px;
  margin-top: 0; }
  #ourDifference strong {
    background-color: #b52725;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: -47px;
    padding: 5px 50px;
    font-size: 12px;
    text-transform: uppercase;
    z-index: 1000; }
  #ourDifference p {
    margin-bottom: 10px; }

.icon {
  width: auto;
  height: 18px;
  margin: -3px 10px 0 0; }

hr.embossed {
  border-width: 1px 0px;
  border-color: rgba(0, 0, 0, 0.55) transparent rgba(255, 255, 255, 0.07) transparent; }

#whatsNew {
  color: gray; }
  #whatsNew ul {
    list-style: none; }

.bubble {
  position: relative;
  padding: 10px;
  background: #b52725;
  color: #ffffff; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #b52725 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 23px; }

.testimonial-name {
  line-height: 1em; }

.testimonial-company {
  font-size: .75em; }

.portMenuBand {
  width: 100%; }

.portfolioBand {
  width: 100%;
  padding: 0 20px; }

.portfolioItem {
  text-align: center; }
  .portfolioItem img {
    border: 1px solid #DDDDDD; }
  .portfolioItem p {
    font-weight: bold;
    font-size: 14px;
    color: #363636; }

.portfolio-menu li {
  display: inline;
  border-left: 1px solid #DDDDDD;
  padding: 0 15px; }
.portfolio-menu li:first-child {
  border-left: none; }

.footerBand {
  background-color: lightgray;
  padding: 20px 0;
  width: 100%; }

aside {
  background-color: white; }

/* Large screens */
/* Medium screens */
/* Small screens */
