/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: ":)";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

.clearboth {
  clear: both; }

body {
  font-family: 'Lato', sans-serif; }

p, li {
  color: gray; }

h1, h2, h3, h4, h5, h6 {
  color: #b52725; }

a {
  color: #b52725;
  text-decoration: none; }

a:hover {
  color: #ff3734;
  text-decoration: underline; }

.topBand a, #navBand a {
  color: #FFFFFF; }

.spacer {
  height: 20px; }

h3 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: #555555;
  font-size: 37px; }

h4 {
  margin-top: 20px; }

h6 a {
  font-weight: 500;
  color: #B52725; }

.big-shadow {
  background: rgba(0, 0, 0, 0.085) url("../img/big_shadow.png") no-repeat center top; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #dddddd;
  margin: -20px auto 15px auto; }

.paper-hr {
  width: 473px;
  height: 35px;
  background: url("../img/horizontal-rule.png");
  border: 1px solid blue;
  margin: 10px auto; }

header.mainHeader {
  background: #b52725 url("../img/noise.png") repeat;
  width: 100%;
  padding: 10px 0; }

.description {
  font-size: 14px;
  font-style: italic;
  color: #DDBAB9;
  padding: 10px 0 0 23px;
  margin: 0; }

#contactInfo {
  text-align: right;
  padding: 10px 0; }
  #contactInfo a {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px; }
  #contactInfo a:hover {
    text-decoration: underline; }
  #contactInfo img {
    display: inline-block;
    margin: 5px 0 -2px 5px; }

.quote-bubble {
  clear: both;
  float: right;
  display: inline-block;
  margin: -8px 5px -30px 0;
  width: 150px;
  height: auto; }

.navBand {
  background-color: #111111;
  width: 100%; }

.top-bar ul li:first-child a {
  border-left: none; }

/*
#slider {
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		min-width: 1920px;
		min-height: 400px;
	}
}
*/
.banner {
  position: relative;
  overflow: auto; }

.banner ul li {
  list-style: none;
  float: left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center; }
  .banner ul li h2 {
    text-shadow: 1px 1px 5px black;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 30px;
    display: inline-block; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  transition: background .5s, opacity .5s;
  box-shadow: 0px 0px 5px #b52725; }

.dots li.active {
  background: #fff;
  opacity: 1; }

#mainBand {
  position: relative;
  background-color: white;
  width: 100%; }

#ourDifference {
  background-color: rgba(0, 0, 0, 0.085);
  text-align: justify;
  padding: 8px 0 25px 0;
  margin-bottom: 20px;
  margin-top: 0; }
  #ourDifference strong {
    background-color: #b52725;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    margin-top: -47px;
    padding: 5px 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1000; }
  #ourDifference p {
    margin-bottom: 10px; }

.services-bg {
  clear: both;
  display: table;
  margin: -45px auto 0 auto;
  padding: 45px 30px 0 30px;
  background-image: url("../img/shadow-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top; }

.services-box {
  min-height: 195px; }

.icon {
  width: auto;
  height: 18px;
  margin: -3px 10px 0 0; }

#whatsNew {
  color: gray; }
  #whatsNew ul {
    list-style: none; }

.bubble {
  position: relative;
  padding: 10px;
  background: #b52725;
  color: #ffffff; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #b52725 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 23px; }

.testimonial-name {
  line-height: 1em; }

.testimonial-company {
  font-size: .75em; }

.portMenuBand {
  width: 100%;
  margin-top: 10px; }

.back-btn {
  margin-left: 10px;
  text-decoration: none; }

.portfolioBand {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px; }
  .portfolioBand h1, .portfolioBand h2, .portfolioBand h3, .portfolioBand h4, .portfolioBand h4, .portfolioBand h6 {
    text-align: center;
    border-bottom: 3px solid #b52725; }

#menu-portfolio-genres .current-menu-item {
  text-decoration: underline;
  color: #b52725; }

.portfolioItem {
  text-align: center; }
  .portfolioItem a {
    text-decoration: none; }
  .portfolioItem p {
    font-weight: bold;
    font-size: 14px;
    color: #363636; }

.portfolio-menu li {
  display: inline;
  border-left: 1px solid #DDDDDD;
  padding: 0 15px; }
.portfolio-menu li:first-child {
  border-left: none; }

.portfolio-piece {
  border: 5px solid #ffffff;
  outline: 1px solid rgba(0, 0, 0, 0.085);
  display: block;
  margin: 0 auto; }

.required {
  color: red; }

.interests {
  background-color: #E9E9E9;
  padding: 20px 0;
  margin: 0 0 20px 0; }

.captcha {
  width: 70px; }

.footerBand {
  background-color: rgba(0, 0, 0, 0.085);
  padding: 20px 0;
  width: 100%; }

footer {
  padding-top: 10px;
  min-height: 150px; }

#footerContactInfo {
  text-align: right;
  padding: 0 0 5px 0; }
  #footerContactInfo a {
    color: #b52725;
    display: inline-block;
    margin-bottom: 5px; }
  #footerContactInfo a:hover {
    text-decoration: underline;
    color: #ff3734; }
  #footerContactInfo img {
    display: inline-block;
    margin: 5px 0 -2px 5px; }

hr.embossed {
  border-width: 1px 0px;
  border-color: rgba(0, 0, 0, 0.085) transparent rgba(255, 255, 255, 0.75) transparent;
  margin: 5px 0; }

aside {
  background-color: white; }

.sidebar h5 {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD; }

/* Large screens */
/* Medium screens */
@media only screen and (max-width: 939px) and (min-width: 768px) {
  .banner ul li {
    min-height: 400px; }

  .services {
    padding: 0 22px; }

  .services-box {
    min-height: 230px; } }
/* Small screens */
@media only screen and (max-width: 767px) {
  .banner ul li {
    min-height: 200px; }

  .services {
    padding: 0 14px; }

  .services-box {
    min-height: 20px; }

  .hide-for-small-only {
    display: none; }

  .logo-side, .contact-side, #contactInfo {
    text-align: center; }

  .quote-bubble {
    display: none; } }
