// Type 'compass watch' in the console, while in the site directory, to start the SCSS program.

//$mainColor: #B52725;
$mainColor: #2685b5;
$linkHover: #ff3734;
$secondaryColor: #FFFFFF;
$tertiaryColor: rgba(0, 0, 0, 0.085);
//$tertiaryColor: rgba(0, 0, 0, 0.8);
$navColor: #555;
$textColor: #808080;
$headerColor: #555555;

//$bubbleColor: rgba(15, 67, 91, 0.3);
//$bubbleColor: #F6F6F6;
$bubbleColor: rgba(0, 0, 0, 0.04);
$embossedBorder: rgba(0, 0, 0, 0.085) transparent rgba(255, 255, 255, 0.75) transparent;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix::after {
	content: ":)";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

.clearboth {
	clear: both;
}

body {
//	font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
}

p, li {
	color: $textColor;
//	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: $mainColor;
}

a{
	color: $mainColor;
	text-decoration: none;
}
a:hover{
	color: $linkHover;
	text-decoration: underline;
}

.topBand a, #navBand a {
	color: #FFFFFF;
}

.spacer {
	height: 20px;
}

h3 {
	font-family: 'Questrial', sans-serif;
	text-align: center;
	color: $headerColor;
	font-size: 37px;
}

h4 {
	margin-top: 20px;
}

h6 a {
	font-weight: 500;
	color: $mainColor;
}

.big-shadow {
	background: $tertiaryColor url("../img/big_shadow.png") no-repeat center top;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-top: 15px solid #dddddd;
	margin: -20px auto 15px auto;
}

.paper-hr {
	width: 473px;
	height: 35px;
	background: url("../img/horizontal-rule.png");
	border: 1px solid blue;
	margin: 10px auto;
}
// ============== HEADER AREA ==============

header.mainHeader {
//	background-color: $mainColor;
//	background: $mainColor url("../img/100-90-10.png") repeat;
	background: $mainColor url("../img/noise66.png") repeat;
	width: 100%;
	padding: 10px 0;
}

#logo {
	//margin: 5px 0 0 10px;
	width: 175px;
	height: auto;
}

.description {
	font-size: 14px;
	font-style: italic;
//	color: #E3D3D3;
//	color: #DDBAB9;
//	color: #ffffff;
	color: #ecf8ff;
	padding: 10px 0 0 0;
	margin: 0;
}

#contactInfo {
	text-align: right;
	padding: 65px 0 0 0;
	a{
		color: #ffffff;
		display: inline-block;
		margin-bottom: 5px;
	}
	a:hover{
		text-decoration: underline;
	}
	img{
		display: inline-block;
		margin: 5px 0 -2px 5px;
	}
}

.quote-bubble {
	clear: both;
	float: right;
	display: inline-block;
	margin: -8px 5px -30px 0;
	width: 150px;
	height: auto;
}

.navBand {
	background-color: $navColor;
//	background: #B52725 url("../img/noise66.png") repeat;
	width: 100%;
//	border-top: 1px solid #262626;
//	outline: #7f1b1a solid 1px;
//	box-shadow: 0px -6px 12px rgba(0, 0, 0, 1.0);
}

// ============== Nav Menu Hack ==============
$menuColor: rgba(0, 0, 0, 0.1) !important;

.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar.expanded .title-area {
	background-color: transparent !important;
	text-transform: uppercase;
	text-decoration: none !important;
}

.top-bar.expanded {
	margin-bottom: 50px;
//	background-color: blue !important;
}

.top-bar.expanded ul {
	background-color: $menuColor;
}

.top-bar ul li:first-child a {
	border-left: none;
}

.top-bar ul li a, .top-bar ul li {
	border-left: none !important;
	border-right: none !important;
}

#menu-main-menu .current_page_item, #menu-main-menu li:hover {
	border-radius: 5px;
	background-color: $menuColor;
}

#menu-main-menu .has-dropdown:hover {
	border-radius: 5px 5px 0 0;
	background-color: $menuColor;
}

.dropdown {
//	background: $mainColor url("../img/noise66.png") repeat !important;
//	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.top-bar-section .dropdown li:hover {
	border-radius: 0 !important;
}

.top-bar-section .dropdown li a {
//	background-color: red !important;
//	background-color: $menuColor;
	background: darken($mainColor, 5%) url("../img/noise66.png") repeat !important;
	text-decoration: none;
}

.top-bar-section .dropdown li a:hover {
//	background-color: orange !important;
//	background-color: $menuColor;
	background: darken($mainColor, 10%) url("../img/noise66.png") repeat !important;
}

.logo-side {
	margin-top: -35px;
}

// ============== SLIDER AREA ==============

/*
#slider {
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		min-width: 1920px;
		min-height: 400px;
	}
}
*/

// -- Unslider --
.banner {
	position: relative;
	overflow: auto;
}

.banner ul li {
	list-style: none;
	float: left;
//	min-height: 400px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
//	background-size: cover;
	h2{
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
		color: #ffffff;
		font-family: 'Noto Sans', sans-serif;
//		line-height:105%;
		margin:20px 30px;
		display: inline-block;
	}
}

.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	transition: background .5s, opacity .5s;
	box-shadow: 0px 0px 5px rgba(181, 39, 37, 1);
}

.dots li.active {
	background: #fff;
	opacity: 1;
}
// -- END Unslider --

// ============== MAIN AREA ==============

#mainBand {
	position: relative;
	background-color: $secondaryColor;
	width: 100%;
	//padding: 20px 0;
	//min-height: 3000px;
}

#ourDifference {
	background-color: $tertiaryColor;
//	background-image: url("../img/left-cross-5px.png");
//	background: url("../img/bg-texture.png");
//	background: $tertiaryColor url("../img/shadow.png") no-repeat center top;
	text-align: justify;
//	padding: 30px 0 25px 0;
	padding: 8px 0 25px 0;
	margin-bottom: 20px;
	margin-top: 0;
	strong {
		background-color: $mainColor;
		color: #ffffff;
		position: absolute;
		left: 50%;
		margin-left: -120px;
		margin-top: -47px;
		padding: 5px 50px;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		z-index: 1000;
	}
	p {
		margin-bottom: 10px;
		//color: #ffffff;
	}
}

.services-bg{
	clear: both;
	display: table;
	margin: -45px auto 0 auto;
	padding: 45px 30px 0 30px;
	background-image: url("../img/shadow-bg.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}

.services-box {
	min-height: 195px;
}

.icon {
	width: auto;
	height: 18px;
	//margin-right: 5px;
	margin: -3px 10px 0 0;
}

// ============== WHATS NEW AREA ==============

#whatsNew {
	color: $textColor;
	ul {
		list-style: none;
		li {
			//height: 15px;
		}
	}
}

// ============== TESTIMONIALS AREA ==============

.bubble {
	position: relative;
	padding: 10px;
	background: $mainColor;
	color: #ffffff;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 10px 0;
	border-color: $mainColor transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 23px;
}

.testimonial-name {
	//color: white;
	line-height: 1em;
}

.testimonial-company {
	font-size: .75em;
	//color: white;
}

// ============== PORTFOLIO ==============
.portMenuBand {
	width: 100%;
	margin-top: 10px;
}

.back-btn {
	margin-left: 10px;
	text-decoration: none;
}

.portfolioBand {
	width: 100%;
	padding: 0 20px;
	margin-bottom: 10px;
	h1, h2, h3, h4, h4, h6 {
		text-align: center;
		border-bottom: 3px solid $mainColor;
	}
}

#menu-portfolio-genres{
	.current-menu-item{
		text-decoration: underline;
		color: $mainColor;
	}
}

.portfolioItem {
	text-align: center;
	a {
		text-decoration: none;
	}
	p {
		font-weight: bold;
		font-size: 14px;
		color: #363636;
	}
}

.portfolio-menu {
	li {
		display: inline;
		border-left: 1px solid #DDDDDD;
		padding: 0 15px;
	}
	li:first-child {
		border-left: none;
		//padding-left: 0;
	}
	a {
		//color: red;
	}
}

.portfolio-piece {
	border: 5px solid #ffffff;
	outline: 1px solid $tertiaryColor;
	display: block;
	margin: 0 auto;
}

// ============== CONTACT FORM ==============

.required {
	color: red;
}

.interests{
	background-color: #E9E9E9;
	padding: 20px 0;
	margin: 0 0 20px 0;
}

.captcha {
	width: 70px;
}

// ============== FOOTER AREA ==============

.footerBand {
	background-color: $tertiaryColor;
	padding: 20px 0;
	width: 100%;
}

footer{
	padding-top: 10px;
	min-height: 150px;
}

#footerContactInfo {
	text-align: right;
	padding: 0 0 5px 0;
	a{
		color: $mainColor;
		display: inline-block;
		margin-bottom: 5px;
	}
	a:hover{
		text-decoration: underline;
		color: $linkHover;
	}
	img{
		display: inline-block;
		margin: 5px 0 -2px 5px;
	}
}

hr.embossed {
	border-width: 1px 0px;
	border-color: $embossedBorder;
	margin: 5px 0;
}

// ============== ASIDE AREA ==============

aside {
	background-color: $secondaryColor;
}

// ============== ASIDE AREA ==============

.sidebar {
//	border-left: 1px solid #dddddd;
//	border-bottom: 1px solid #dddddd;
//	box-shadow: -4px 4px 3px rgba(0, 0, 0, .15);
//	background: url("../img/sidebar_right_inner.png") repeat-y left;
//	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.15);
//	margin-top: -10px;
//	min-height: 1000px;
	h5{
		padding-bottom: 5px;
		border-bottom: 1px solid #DDDDDD;
	}
}



// ============== MEDIA QUERIES ==============

/* Large screens */
@media only screen and (min-width: 940px) {

}

/* Medium screens */
@media only screen and (max-width: 939px) and (min-width: 768px) {

	.banner ul li {
		min-height: 400px;
	}

	.services{
		padding: 0 22px;
	}

	.services-box {
		min-height: 230px;
	}

}

/* Small screens */
@media only screen and (max-width: 767px) {

	.banner ul li {
		min-height: 200px;
	}

	.services{
		padding: 0 14px;
	}

	.services-box {
		min-height: 20px;
	}

	.hide-for-small-only {
		display: none;
	}

	.logo-side, .contact-side, #contactInfo {
		text-align: center;
		margin-top: 0;
	}

	#contactInfo {
		padding-top: 10px;
	}

	.quote-bubble{
		display: none;
	}

}