// Type 'compass watch' in the console, while in the site directory, to start the SCSS program.

$mainColor: #B52725;
$secondaryColor: #FFFFFF;
$tertiaryColor: rgba(0, 0, 0, 0.055);
$navColor: #111111;
$textColor: gray;

//$bubbleColor: rgba(15, 67, 91, 0.3);
//$bubbleColor: #F6F6F6;
$bubbleColor: rgba(0, 0, 0, 0.04);
$embossedBorder: rgba(0, 0, 0, 0.55) transparent rgba(255, 255, 255, 0.07) transparent;

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix::after {
	content: ":)";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

.clearboth {
	clear: both;
}

body {
	font-size: 14px;
}

p, li {
	color: $textColor;
//	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: $mainColor;
}

.topBand a, #navBand a {
	color: #FFFFFF;
}

.spacer {
	height: 20px;
}

h6 a {
	font-weight: 500;
	color: #B52725;
}

// ============== HEADER AREA ==============

header.mainHeader {
	background-color: $mainColor;
	width: 100%;
	padding: 10px 0;
}

#logo {
	//margin: 5px 0 0 10px;
}

#contactInfo {
	text-align: right;
	padding: 10px 0;
	color: #ffffff;
}

.navBand {
	background-color: $navColor;
	width: 100%;
}

.top-bar ul li:first-child a {
	border-left: none;
}

// ============== SLIDER AREA ==============

/*
#slider {
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		min-width: 1920px;
		min-height: 400px;
	}
}
*/

// -- Unslider --
.banner {
	position: relative;
	overflow: auto;
}

.banner ul li {
	list-style: none;
	float: left;
//	min-height: 400px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
//	background-size: cover;
	h2{
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
		color: #ffffff;
		font-family: 'Noto Sans', sans-serif;
//		line-height:105%;
		margin:20px 30px;
		display: inline-block;
	}
}

.dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

.dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	transition: background .5s, opacity .5s;
	box-shadow: 0px 0px 5px rgba(181, 39, 37, 1);
}

.dots li.active {
	background: #fff;
	opacity: 1;
}
// -- END Unslider --

// ============== MAIN AREA ==============

#mainBand {
	position: relative;
	background-color: $secondaryColor;
	width: 100%;
	//padding: 20px 0;
	//min-height: 3000px;
}

#ourDifference {
	background-color: $tertiaryColor;
//	background-image: url("../img/left-cross-5px.png");
	text-align: justify;
	padding: 30px 0 25px 0;
	margin-bottom: 20px;
	margin-top: 0;
	strong {
		background-color: $mainColor;
		color: #ffffff;
		position: absolute;
		left: 50%;
		margin-left: -120px;
		margin-top: -47px;
		padding: 5px 50px;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;
		z-index: 1000;
	}
	p {
		margin-bottom: 10px;
		//color: #ffffff;
	}
}

.icon {
	width: auto;
	height: 18px;
	//margin-right: 5px;
	margin: -3px 10px 0 0;
}

hr.embossed {
	border-width: 1px 0px;
	border-color: $embossedBorder
}

// ============== WHATS NEW AREA ==============

#whatsNew {
	color: $textColor;
	ul {
		list-style: none;
		li {
			//height: 15px;
		}
	}
}

// ============== TESTIMONIALS AREA ==============

.bubble {
	position: relative;
	padding: 10px;
	background: $mainColor;
	color: #ffffff;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 10px 0;
	border-color: $mainColor transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 23px;
}

.testimonial-name {
	//color: white;
	line-height: 1em;
}

.testimonial-company {
	font-size: .75em;
	//color: white;
}

// ============== PORTFOLIO ==============
.portMenuBand {
	width: 100%;
	//background-color: lightgray;
}

.portfolioBand {
	width: 100%;
	padding: 0 20px;
}

.portfolioItem {
	text-align: center;
	img {
		border: 1px solid #DDDDDD;
	}
	p {
		font-weight: bold;
		font-size: 14px;
		color: #363636;
	}
}

.portfolio-menu {
	li {
		display: inline;
		border-left: 1px solid #DDDDDD;
		padding: 0 15px;
	}
	li:first-child {
		border-left: none;
		//padding-left: 0;
	}
	a {
		//color: red;
	}
}

// ============== FOOTER AREA ==============

.footerBand {
	background-color: lightgray;
	padding: 20px 0;
	width: 100%;
}

// ============== ASIDE AREA ==============

aside {
	background-color: $secondaryColor;
}

// ============== MEDIA QUERIES ==============

/* Large screens */
@media only screen and (min-width: 940px) {

}

/* Medium screens */
@media only screen and (max-width: 939px) and (min-width: 768px) {

	.banner ul li {
		min-height: 400px;
	}

}

/* Small screens */
@media only screen and (max-width: 767px) {

	.banner ul li {
		min-height: 200px;
	}

}