/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: ":)";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

.clearboth {
  clear: both; }

.row.full-width {
  width: 100%;
  max-width: 100%; }

body {
  font-family: 'Lato', sans-serif; }

p, li {
  color: gray; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  font-weight: 400; }

a {
  color: #2685b5;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #7ad03a;
  text-decoration: underline; }

.topBand a, #navBand a {
  color: #FFFFFF; }

.spacer {
  height: 20px; }

h3 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  color: #555555;
  font-size: 37px; }

h4 {
  margin-top: 20px; }

h6 a {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 400; }

.big-shadow {
  background: rgba(0, 0, 0, 0.085) url("../img/big_shadow.png") no-repeat center top; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #dddddd;
  margin: -20px auto 15px auto; }

.paper-hr {
  width: 473px;
  height: 35px;
  background: url("../img/horizontal-rule.png");
  border: 1px solid blue;
  margin: 10px auto; }

header.mainHeader {
  background: #3a3a3a url("../img/noise66.png") repeat;
  width: 100%;
  padding: 10px; }

.rainbow {
  width: 100%;
  margin: 0;
  padding: 0; }

.color1, .color2, .color3, .color4, .color5, .color6 {
  height: 6px;
  width: 16.66666666666667%;
  float: left; }

#logo {
  width: 175px;
  height: auto; }

.description {
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  padding: 10px 0 0 0;
  margin: 0; }

#contactInfo {
  text-align: right;
  padding: 65px 0 0 0; }
  #contactInfo a {
    color: #ffffff;
    display: inline-block;
    margin-bottom: 5px; }
  #contactInfo a:hover {
    text-decoration: none;
    color: #7ad03a; }
  #contactInfo img {
    display: inline-block;
    margin: 5px 0 -2px 5px; }

.quote-bubble {
  clear: both;
  float: right;
  display: inline-block;
  margin: -8px 5px -30px 0;
  width: 150px;
  height: auto; }

.navBand {
  background-color: #555555;
  width: 100%; }

.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar.expanded .title-area {
  background-color: transparent !important;
  text-transform: uppercase;
  text-decoration: none !important; }

.top-bar.expanded {
  margin-bottom: 50px; }

.top-bar.expanded ul {
  background-color: rgba(0, 0, 0, 0.1) !important; }

.top-bar ul li:first-child a {
  border-left: none; }

.top-bar ul li a, .top-bar ul li {
  border-left: none !important;
  border-right: none !important; }

#menu-main-menu .current_page_item, #menu-main-menu li:hover {
  border-radius: 5px;
  background: #2d2d2d url("../img/noise66.png") repeat !important; }

#menu-main-menu .has-dropdown:hover {
  border-radius: 5px 5px 0 0;
  background: #2d2d2d url("../img/noise66.png") repeat !important; }

#menu-main-menu, .dropdown {
  transition: 0s !important; }

.top-bar-section .dropdown li:hover {
  border-radius: 0 !important; }

.top-bar-section .dropdown li a {
  background: #2d2d2d url("../img/noise66.png") repeat !important;
  text-decoration: none; }

.top-bar-section .dropdown li a:hover {
  background: #212121 url("../img/noise66.png") repeat !important; }

.logo-side {
  margin-top: -35px; }

/*
#slider {
	overflow: hidden;
	img{
		position: absolute;
		left: 50%;
		margin-left: -960px;
		min-width: 1920px;
		min-height: 400px;
	}
}
*/
.banner {
  position: relative;
  overflow: auto; }

.banner ul li {
  list-style: none;
  float: left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center; }
  .banner ul li h2 {
    text-shadow: 1px 1px 5px black;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 30px;
    display: inline-block; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  transition: background .5s, opacity .5s;
  box-shadow: 0px 0px 5px #b52725; }

.dots li.active {
  background: #fff;
  opacity: 1; }

#mainBand {
  position: relative;
  background-color: white;
  width: 100%; }

#ourDifference {
  background: rgba(0, 0, 0, 0.085) url("../img/shadow3.png") no-repeat center top;
  background-size: 100%;
  text-align: justify;
  padding: 15px 0 25px 0;
  margin-top: 0;
  margin-bottom: -12px; }
  #ourDifference strong {
    background-color: #3a3a3a;
    color: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    margin-top: -31px;
    padding: 5px 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1000; }
  #ourDifference p {
    margin-bottom: 10px; }

.services-box {
  min-height: 195px;
  padding-top: 15px; }
  .services-box p {
    color: #333333; }
  .services-box h6 a {
    color: white; }
  .services-box h6 a:hover {
    color: #3a3a3a; }

.boxNumber1, .color1 {
  background-color: #a0ce4e; }

.boxNumber2, .color2 {
  background-color: #e77b4d; }

.boxNumber3, .color3 {
  background-color: #f9c000; }

.boxNumber4, .color4 {
  background-color: #e75050; }

.boxNumber5, .color5 {
  background-color: #4e7489; }

.boxNumber6, .color6 {
  background-color: #e4366d; }

.icon {
  width: auto;
  height: 18px;
  margin: -3px 10px 0 0; }

#whatsNew {
  color: gray; }
  #whatsNew ul {
    list-style: none; }

.more-link {
  margin-left: 5px;
  font-size: 12px; }

.bubble {
  position: relative;
  padding: 10px;
  background: #3a3a3a;
  color: #ffffff; }

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #3a3a3a transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 23px; }

.testimonial-name {
  line-height: 1em; }

.testimonial-company {
  font-size: .75em; }

.portMenuBand {
  width: 100%;
  margin: 10px 10px 0; }

.back-btn {
  margin-left: 10px;
  text-decoration: none; }

.portfolioBand {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px; }
  .portfolioBand h2 {
    background-color: rgba(0, 0, 0, 0.085);
    font-size: 30px;
    text-align: center; }

#menu-portfolio-genres .current-menu-item {
  text-decoration: underline;
  color: #3a3a3a; }

.portfolioItem {
  text-align: center; }
  .portfolioItem a {
    text-decoration: none; }
  .portfolioItem p {
    font-weight: bold;
    font-size: 14px;
    color: #363636; }

.portfolio-menu li {
  display: inline;
  border-left: 1px solid #DDDDDD;
  padding: 0 15px; }
.portfolio-menu li:first-child {
  border-left: none; }

.portfolio-piece {
  border: 5px solid #ffffff;
  outline: 1px solid rgba(0, 0, 0, 0.085);
  display: block;
  margin: 0 auto; }

.required {
  color: red; }

.interests {
  background-color: #E9E9E9;
  padding: 20px 0;
  margin: 0 0 20px 0; }

.captcha {
  width: 70px; }

.footerBand {
  background-color: #3a3a3a;
  padding: 20px 0;
  width: 100%; }

footer {
  padding: 10px 10px 0 10px;
  min-height: 150px; }

.footer-menu li {
  display: inline;
  padding: 0 15px; }
.footer-menu li:first-child {
  padding-left: 0; }
.footer-menu a {
  color: #2685b5; }

#footerContactInfo {
  text-align: right;
  padding: 0 0 5px 0; }
  #footerContactInfo a {
    color: white;
    display: inline-block;
    margin-bottom: 5px; }
  #footerContactInfo a:hover {
    text-decoration: none;
    color: #7ad03a; }
  #footerContactInfo img {
    display: inline-block;
    margin: 5px 0 -2px 5px; }

hr.embossed {
  border-width: 1px 0px;
  border-color: rgba(0, 0, 0, 0.4) transparent rgba(255, 255, 255, 0.09) transparent;
  margin: 5px 0; }

aside {
  background-color: white; }
  aside h5 {
    color: #3a3a3a; }

.sidebar {
  background: url("../img/aside-shadow-top.png") left top no-repeat, url("../img/aside-shadow-bottom.png") left bottom no-repeat, url("../img/aside-shadow-left.png") left repeat-y; }
  .sidebar #menu-services li {
    background: red url("../img/aside-li-shadow-left.png") left repeat-y;
    margin-left: -14px;
    margin-bottom: 5px;
    padding-left: 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); }
    .sidebar #menu-services li a {
      color: #ffffff; }
    .sidebar #menu-services li a:hover:before {
      content: "\25B8\20"; }
  .sidebar #menu-services .current-menu-item a:before {
    content: "\25B8\20"; }
  .sidebar #menu-services #menu-item-222 {
    background-color: #a0ce4e; }
  .sidebar #menu-services #menu-item-217 {
    background-color: #e77b4d; }
  .sidebar #menu-services #menu-item-221 {
    background-color: #f9c000; }
  .sidebar #menu-services #menu-item-219 {
    background-color: #e75050; }
  .sidebar #menu-services #menu-item-220 {
    background-color: #4e7489; }
  .sidebar #menu-services #menu-item-218 {
    background-color: #e4366d; }
  .sidebar h5 {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDDDDD; }

/* Large screens */
/* Medium screens */
@media only screen and (max-width: 939px) and (min-width: 768px) {
  .banner ul li {
    min-height: 400px; }

  .services {
    padding: 0 22px; }

  .services-box {
    min-height: 250px; } }
/* Small screens */
@media only screen and (max-width: 767px) {
  .banner ul li {
    min-height: 200px; }

  .services {
    padding: 0 14px; }

  .services-box {
    min-height: 20px; }

  .hide-for-small-only {
    display: none; }

  .logo-side, .contact-side, #contactInfo {
    text-align: center;
    margin-top: 0; }

  #contactInfo {
    padding-top: 10px; }

  .quote-bubble {
    display: none; } }
